{% extends 'app1/base.html' %}
{% load static %}
{% block content %}
        <div class="position-absolute top-50 start-50 translate-middle">
        <div class="modify">
            <form method="post" action="">
                {% csrf_token %}
                <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label">Scrip Name</label>
                  <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="scrip_name" required>
                  <div id="emailHelp" class="form-text">Please enter a valid Value</div>
                </div>
                <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label">Purchase Price</label>
                  <input type="number" class="form-control" id="exampleInputEmail1" name="purchase_price" required>
                </div>
                <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label">Quantity</label>
                  <input type="number" class="form-control" id="exampleInputEmail1" name="qty" required>
                </div>
                <div class="mb-3">
                <button type="submit" class="btn btn-primary" >Add to table</button>
                </div>     
              </form>
        </div>
        </div>

{% endblock %}